In [1]:
import setup_django

setup_django.main()

In [4]:
from movies.models import Movie

qs = Movie.objects.all().values('title', 'released', 'ratings_average', 'ratings_count')
qs

<MovieQuerySet [{'title': 'Casino', 'released': datetime.date(1995, 11, 22), 'ratings_average': Decimal('4.71'), 'ratings_count': 14}, {'title': 'Heat', 'released': datetime.date(1995, 12, 15), 'ratings_average': Decimal('4.56'), 'ratings_count': 18}, {'title': 'Four Rooms', 'released': datetime.date(1995, 12, 9), 'ratings_average': Decimal('4.36'), 'ratings_count': 14}, {'title': 'The Southerner', 'released': datetime.date(1945, 4, 30), 'ratings_average': Decimal('4.50'), 'ratings_count': 14}, {'title': 'Father of the Bride Part II', 'released': datetime.date(1995, 2, 10), 'ratings_average': Decimal('4.68'), 'ratings_count': 22}, {'title': 'Nixon', 'released': datetime.date(1995, 12, 22), 'ratings_average': Decimal('4.43'), 'ratings_count': 14}, {'title': 'Sense and Sensibility', 'released': datetime.date(1995, 12, 13), 'ratings_average': Decimal('4.56'), 'ratings_count': 16}, {'title': 'Sabrina', 'released': datetime.date(1995, 12, 15), 'ratings_average': Decimal('4.80'), 'ratings_count': 15}, {'title': 'Tom and Huck', 'released': datetime.date(1995, 12, 22), 'ratings_average': Decimal('4.77'), 'ratings_count': 13}, {'title': 'The American President', 'released': datetime.date(1995, 11, 17), 'ratings_average': Decimal('5.00'), 'ratings_count': 11}, {'title': 'Emmanuelle in Soho', 'released': datetime.date(1981, 1, 1), 'ratings_average': Decimal('4.52'), 'ratings_count': 21}, {'title': 'Cutthroat Island', 'released': datetime.date(1995, 12, 22), 'ratings_average': Decimal('4.62'), 'ratings_count': 13}, {'title': 'Dracula: Dead and Loving It', 'released': datetime.date(1995, 12, 22), 'ratings_average': Decimal('4.76'), 'ratings_count': 17}, {'title': 'The Indian in the Cupboard', 'released': datetime.date(1995, 7, 14), 'ratings_average': Decimal('4.47'), 'ratings_count': 15}, {'title': 'GoldenEye', 'released': datetime.date(1995, 11, 16), 'ratings_average': Decimal('4.80'), 'ratings_count': 15}, {'title': 'Balto', 'released': datetime.date(1995, 12, 22), 'ratings_average': Decimal('4.81'), 'ratings_count': 21}, {'title': 'Ace Ventura: When Nature Calls', 'released': datetime.date(1995, 11, 10), 'ratings_average': Decimal('3.92'), 'ratings_count': 13}, {'title': 'They Have Changed Their Face', 'released': datetime.date(1971, 7, 2), 'ratings_average': Decimal('4.85'), 'ratings_count': 13}, {'title': 'Copycat', 'released': datetime.date(1995, 10, 27), 'ratings_average': Decimal('4.67'), 'ratings_count': 18}, {'title': 'Money Train', 'released': datetime.date(1995, 11, 21), 'ratings_average': Decimal('4.83'), 'ratings_count': 12}, '...(remaining elements truncated)...']>

In [5]:
import pandas as pd

df = pd.DataFrame(qs)
df.head(n=10)

                         title    released ratings_average  ratings_count
0                       Casino  1995-11-22            4.71             14
1                         Heat  1995-12-15            4.56             18
2                   Four Rooms  1995-12-09            4.36             14
3               The Southerner  1945-04-30            4.50             14
4  Father of the Bride Part II  1995-02-10            4.68             22
5                        Nixon  1995-12-22            4.43             14
6        Sense and Sensibility  1995-12-13            4.56             16
7                      Sabrina  1995-12-15            4.80             15
8                 Tom and Huck  1995-12-22            4.77             13
9       The American President  1995-11-17            5.00             11